<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Passcode</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-5 col-lg-4 text-center">
                
                <div class="mt-4 text-start mb-3">
                    <a th:href="@{/back}" class="btn btn-secondary">Back</a>
                </div>
                
                <h2 th:text="${classMap.className}"></h2>
                <p th:text="${classMap.lectureDate}"></p>

                <form action="/student/passcode" method="post">
                    <input type="hidden" name="mapId" th:value="${classMap.mapId}">

                    <input type="text" name="inputCode"
                        class="form-control mb-3"
                        placeholder="Enter Passcode" required>

                    <button class="btn btn-primary">Submit</button>
                </form>

                <p class="text-danger mt-3" th:if="${error}" th:text="${error}"></p>

            </div>
        </div>
    </div>
</body>
</html>